DATABASE_URL=postgresql://postgres:<PASSWORD>@db.mueizidhtsizgdzebkcx.supabase.co:5432/postgres
SUPABASE_URL=https://mueizidhtsizgdzebkcx.supabase.co
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_REFRESH_SECRET=your_super_secret_refresh_key_change_this
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173,https://www.tzmicha.com
